<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解云帮</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>面向居家生活，为您提供一站式解决方案，让您尽享高品质生活</li>
            <li>面向居家生活，为您提供一站式解决方案，让您尽享高品质生活</li>
            <li>面向居家生活，为您提供一站式解决方案，让您尽享高品质生活</li>
            <li>重要的事情要强调三遍</li>
        </ul>

        <!--<h3>&nbsp;&nbsp;&nbsp;获取源码</h3>
        <ul>
            <li>Github地址：<a href="https://github.com/lcg0124/bootdo.git" th:href="@{https://github.com/lcg0124/bootdo.git}" target="_blank">https://github.com/lcg0124/bootdo.git</a></li>
            <li>Oschina地址：<a href="https://gitee.com/lcg0124/bootdo.git" target="_blank">https://gitee.com/lcg0124/bootdo.git</a></li>
        </ul>-->

        <h3>&nbsp;&nbsp;&nbsp;官方QQ群</h3>
        <ul>
            <li>点击链接加入群【云之家交流群】：<a href="https://jq.qq.com/?_wv=1027&k=5PFREUE">771856656</a></li>
        </ul>
    </div>
</div>
</body>
</html>